<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  
  <link rel="stylesheet" href="https://unpkg.com/purecss@2.0.6/build/pure-min.css" integrity="sha384-Uu6IeWbM+gzNVXJcM9XV3SohHtmWE+3VGi496jvgX1jyvDTXfdK+rfZc8C1Aehk5" crossorigin="anonymous">
  <link rel="stylesheet" href="https://unpkg.com/purecss@2.0.5/build/grids-responsive-min.css" />
  <link rel="stylesheet" href="/static/main.css">

</head>


<body>
    <div class="header3">
        <div class="inner-header flex">
            <path fill="#FFFFFF" stroke="#000000" stroke-width="10" stroke-miterlimit="10" d="M57,283" />
            <div class="form-group">
                <h1>Do you want to take a sleep survey?</h1>
              </div>
              <a href ="/survey"><input class="button-success pure-button" value="Yes, I would like to"></a>
              <a href ="/decline"><input class="button-warning pure-button" value="No, I don't have time"></a>
      
            </div>
            </div>
        <div class="content flex">
        <p>Ke Wang | homework1 </p>
    </div>
</body>

</html>